{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweather-Weather</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <h1>Sweather-Weather</h1>
</header>

<main class="main-container">
    <section class="weather-info">
        <form method="post" action="{% url 'weather' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="city">Enter City:</label>
                <input type="text" id="city" name="city" class="form-control">
            </div>
            <div class="form-group">
                <label for="temperature_unit">Select Units:</label>
                <select id="temperature_unit" name="temperature_unit" class="form-control">
                    <option value="C">Celsius</option>
                    <option value="F">Fahrenheit</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Get Weather</button>
        </form>

        {% if weather_data %}
            <div class="weather-details">
                <h2>Current Weather</h2>
                <p class="location">Location: {{ default_city }}</p>
                <p class="temperature">
                    Temperature: {{ weather_data.temperature|floatformat:0 }} °{{ temperature_unit }}
                </p>
                <p class="feels_like">
                    Feels like: {{ weather_data.feels_like|floatformat:0 }} °{{ temperature_unit }}
                </p>
                <p class="humidity">Humidity: {{ weather_data.humidity }} %</p>
                <div class="condition">
                    Description: {{ weather_data.weather_description }}
                    <img src="https://openweathermap.org/img/wn/{{ weather_data.weather_icon }}.png" alt="Weather Icon">
                </div>
            </div>
        {% endif %}
    </section>

    <section class="forecast">
        <h2>5-Day Forecast for Tallinn</h2>
        {% if forecast %}
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for day_forecast in forecast %}
                    {% if forloop.counter <= 5 %}
                        <tr>
                            <td>{{ day_forecast.date_time|date:"M j, Y" }}</td>
                            <td>{{ day_forecast.temperature|floatformat:0 }} °{{ temperature_unit }}</td>
                            <td>
                                <p class="forecast-description">
                                    {{ day_forecast.weather_description }}
                                    <img src="https://openweathermap.org/img/wn/{{ day_forecast.weather_icon }}.png"
                                         alt="Weather Icon">
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
</main>

<footer>
    <p>&copy; 2023 Sweather-Weather. All rights reserved.</p>
</footer>
</body>
</html>
