body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}

.weather-info {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.forecast {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.news {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h2 {
    color: #333;
}

.location {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

.temperature {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff5733;
}

.condition {
    font-size: 1.5em;
    color: #555;
}
